<%- include("header") -%>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente libero, sint sequi modi omnis sunt eveniet harum consectetur placeat nisi quo sed itaque. Itaque nihil velit commodi quibusdam aliquam tenetur?</h1>
<%- include("footer") -%>