body {
  font-family: "Montserrat", " sans-serif";
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat", " sans-serif";
  font-weight: bold;
}

p {
  text-align: center;
  color: #8f8f8f;
}

/* Headings */
.big-heading{
    font-family: "Montserrat", " sans-serif";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: #fff;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* containers */
.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section{
    background: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #FFF;
}

/* Title Section */

#title .container-fluid {
    padding:3% 15% 7%
}

#title {
    color: #fff;
  }



/* Navigation Bar */

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title Image */
#title{   
    text-align: left;
}
.title-image {
  width: 60%;
  position: absolute;
  transform: rotate(25deg);
  right: 30%;
}

/* Feature Section */
#features {
  position: relative;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}
.feature-title{
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
.feature-icon {
  /* font-size: 40px; */
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  /* font-size: 40px; */
  color: #ff4c68;
  margin-bottom: 1rem;
}

/* Testimonaials Section */

#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
.price-title{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action Section */    
/* Footer Section */

.social {
  margin-bottom: 15px;
}
.social a {
  padding: 5px;
  color: #000;
}

@media (max-width: 992px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
