*{  font-family: "Montserrat"," sans-serif";
}

h1 {
  font-family: "Montserrat"," sans-serif";

  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
  }

#title{
    background: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 15%;
}


/* Navigation Bar */

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
}
.navbar{
    padding :0 0 4.5rem;
}



.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}

.download-button{
    margin: 5% 3% 5% 0%;
}

/* Title Image */
.title-image{
    width: 60%;
    position: absolute;
    transform: rotate(25deg);
    right: 30%;
}

/* Feature Section */
#features{
    background-color: #fff;
    padding: 7% 15%;
    position: relative;
}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}
.feature-icon{
    /* font-size: 40px; */
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover{
    /* font-size: 40px; */
    color: #ff4c68;
    margin-bottom: 1rem;
}
.feature h3{
    font-family: "Montserrat",sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}
.feature p{
    text-align: center;
    color: #8f8f8f;
}

/* Testimonaials Section */

#testimonials{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
}

.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;

}

#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;

}